#!/bin/bash
#SBATCH -A {{ACCOUNT}}
#SBATCH -C {{CONSTRAINT}}
#SBATCH -q {{QOS}}
#SBATCH -t {{WALLTIME}}
#SBATCH -N {{NODES}}
#SBATCH --ntasks-per-node={{NTASKS}}
#SBATCH -c {{CPUS}}
#SBATCH --gpus-per-task={{GPUS}}
#SBATCH --job-name={{PDB_ID}}_WP
#SBATCH --output={{PDB_ID}}_WP.out

export SLURM_CPU_BIND="cores"

source env.sh

export WEST_SIM_ROOT=$PWD

export OMPI_MCA_pml=ob1
export OMPI_MCA_btl="self,tcp"
export OMPI_MCA_opal_warn_on_missing_libcuda=0
export OMPI_MCA_opal_cuda_support=true
export PMIX_MCA_psec=native

which mpiexec
echo 'tasks:' $SLURM_NTASKS

srun --mpi=pmix -n $SLURM_NTASKS w_run --work-manager mpi --n-workers=$SLURM_NTASKS
