west: 
  system:
    driver: westpa.core.systems.WESTSystem
    system_options:
      pcoord_ndim: 1
      pcoord_len: 11
      pcoord_dtype: !!python/name:numpy.float32
      bins:
          type: MABBinMapper
          nbins: [9]       
          mab_log: true
      bin_target_counts: 6
 
  propagation:
    max_total_iterations: 12500
    max_run_wallclock:    72:00:00
    propagator:           openmm_explicit_rmsd_p_ca_propagator.OpenMMExplicitPropagator
    gen_istates:          false
    block_size:           1
  
  data:
    west_data_file: $WEST_SIM_ROOT/west.h5
    datasets:
      - name:        pcoord
        scaleoffset: 4
    data_refs:
      segment:       $WEST_SIM_ROOT/traj_segs/{segment.n_iter:06d}/{segment.seg_id:06d}
      basis_state:   $WEST_SIM_ROOT/bstates/bstates.txt
      initial_state: $WEST_SIM_ROOT/istates/{initial_state.iter_created}/{initial_state.state_id}.xml

  openmm:
    topology_path: /global/cfs/cdirs/m4229/caden/westpa_dna_protein/{{PDB_ID}}_WP/processed/{{PDB_ID}}_processed.pdb
    num_gpus: 1                
    gpu_precision: mixed 
    forcefield:
      - amber14-all.xml
      - amber14/tip3pfb.xml
    temperature: 300.0           # K
    timestep: 4.0                # fs
    friction: 1.0                # 1/ps
    pressure: 1.0                # atm
    barostatInterval: 25
    constraintTolerance: 1e-6
    hydrogenMass: 1.5            # amu
    steps: 1000
    save_steps: 100
